<ActionBar title="Symphony"> </ActionBar>

<StackLayout>
    <GridLayout rows="auto,*" columns="*,200" margin="20">
        <Button text="Crear lista" (tap)="addList()" col="1" class="button"></Button>
        
        <ListView row="1" colSpan="2" [items]="service.myLists()" height="100%" row="1">
            <ng-template let-item let-i="index">
                <GridLayout columns="auto, *" >
                    <Button height="40" padding="0" text="borrar" (tap)="removeList(i)" class="button"></Button>
                    <Label [text]="item.name" class="list-item" col="1"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout>

</StackLayout>