<ActionBar title="Symphony / Settings"> </ActionBar>

<StackLayout margin="20">
  <Label text="Descargar Partituras" textWrap="true" class="title"></Label>
  @if(loading()){
    <ActivityIndicator width="100" height="100" [busy]="true" />
    <Label [text]="`${percentage().toFixed(2)}%`" hotizontalAlignment="center" fontSize="20"></Label>
  }

  <ListView [items]="instrumentsService.instrumetns()" height="100%">
    <ng-template let-item>
      <StackLayout (tap)="downloadScores(item)">
        <Label [text]="item.label" class="instrument-item text-gray-500"></Label>
        
      </StackLayout>
    </ng-template>

  </ListView>

</StackLayout>