<ActionBar [title]="listName"></ActionBar>

<StackLayout>
    <GridLayout rows="auto,*" columns="*,200" margin="20">        
        <Button text="Agregar canto" (tap)="addSong()" col="1" class="button"></Button>

        <ListView row="1" colSpan="2" [items]="songs()" height="100%">
            <ng-template let-song let-i="index">
                <GridLayout columns="10, 100, *" rows="5,*,5" class="list-item">
                    <Button col="1" row="1"  height="40" padding="0" text="borrar" (tap)="removeSong(song)" class="button" fontSize="12"></Button>
                    <Label  col="2" row="1"  [text]="song.fileName.replace('.png', '')" ></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</StackLayout>